{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">



{% block body %}
<section id='contact-img'>
    <div class="cotactbox">
        <img src="https://source.unsplash.com/1200x400/?company" class="img-fluid" alt="">
    </div>
</section>
</br>



<section id="contactus" class="mb-4">
    <div  class="container">
    
    <h2 class="h1-responsive font-weight-bold text-center my-4">About Us</h2>
    
    <p class="text-center w-responsive mx-auto mb-5">Welcome to Ultron Laptop shop, your number one source for all laptops and accessories. We're dedicated to providing you the best of laptops, with a focus on dependability. customer service..


We're working to turn our passion for ultron laptop shop into a booming online store. We hope you enjoy our products as much as we enjoy offering them to you.

</p>

        <ul class="list-unstyled" id="menu">
          <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
          <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
          <li><i class="fa fa-whatsapp" aria-hidden="true"></i></li>
        </ul> 
    </div>

</section>
    

{% endblock body %}