{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">



{% block body %}
<section id='contact-img'>
    <div class="cotactbox">
        <img src="https://source.unsplash.com/1200x400/?office" class="img-fluid" alt="">
    </div>
</br>
</br>



<section id="form-layout" class="mb-4">
    <div  class="container">
    
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Us</h2>
    
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        
        <div class="col-md-12 mb-md-0 mb-5">
            <form id="fill-form" name="contact-form" action="/contactus" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="phone" name="phone" class="form-control" placeholder="Your Phone">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" placeholder="Your Email">
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="desc" name="desc" rows="2" class="form-control md-textarea" placeholder="Your Message"></textarea>
                        </div>
                    </div>
                </div>
            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-outline-dark my-2" onclick="document.getElementById('fill-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>

    </div>

</section>

</div>
</section>
</br>

{% endblock body %}